button
   border-radius: $d-2
   padding: $d-3 $d-4
   outline: none
   cursor: pointer
   background: $c-3

   &:hover
      background: $c-1

h1, h2, h3, h4, h5, h6
   font-weight: inherit

h2
   padding-bottom: $d-3

ul
   list-style: none

   &.list
      li
         display: block
         font: normal normal normal 14px/#{$f-1-l-h} $f-1
         padding: $d-3
         cursor: pointer

         &:nth-child(even)
            background: $c-2

         &:hover
            background: $c-1

section
   padding: $d-4 ($d-4 + $d-2)
