.nav
   background: rgba(0, 0, 0, .1)
   flex: 0 0 auto

   > ul
      display: flex
      list-style: none

      > li
         a
            flex: 1 auto
            cursor: pointer
            text-decoration: none
            color: black
            display: block

            &:hover
               background: $c-1

            &.active
               background: $c-4

   @media all and (max-width: $d-12 - 1)
      > ul
         flex-direction: row-reverse

         > li
            flex: 1 1 auto

            a
               padding: $d-3
               text-align: center

               span
                  display: none

            ul
               display: none

   @media all and (min-width: $d-12)
      width: $d-9
      overflow: auto
      -webkit-overflow-scrolling: touch

      > ul
         flex-direction: column

         > li
            &:nth-child(6)
               margin: $d-3 0

            a
               padding: $d-2 + $d-1 $d-5

               span
                  padding: 0 0 0 $d-3
                  text-transform: capitalize
                  cursor: pointer

               > &.icon-player
                  display: none

               > &:nth-child(6)
                  cursor: default
                  padding: 0

                  &:hover
                     background: none

                  &:before
                     display: none

                  > span
                     display: none

            ul
               li
                  a
                     padding: $d-2 + $d-1 $d-5
                     cursor: pointer

                     &:hover
                        background: $c-1

                     &.selected
                        background: rgba(0, 0, 0, .1)

                     span
                        padding: 0 0 0 $d-3
