.views
   flex: 1 1 auto
   position: relative

   > div
      > div
         position: absolute
         top: 0
         left: 0
         width: 100%
         height: 100%
         overflow: auto
         -webkit-overflow-scrolling: touch
