@font-face {
  font-family: 'icons';
  src: url('./icons/icons.eot?84064179');
  src: url('./icons/icons.eot?84064179#iefix') format('embedded-opentype'),
       url('./icons/icons.woff?84064179') format('woff'),
       url('./icons/icons.ttf?84064179') format('truetype'),
       url('./icons/icons.svg?84064179#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?84064179#icons') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-folder:before { content: '\e800'; } /* '' */
.icon-songs:before { content: '\e801'; } /* '' */
.icon-videos:before { content: '\e802'; } /* '' */
.icon-player:before { content: '\e803'; } /* '' */
.icon-settings:before { content: '\e804'; } /* '' */
.icon-mute:before { content: '\e805'; } /* '' */
.icon-quieter:before { content: '\e806'; } /* '' */
.icon-louder:before { content: '\e807'; } /* '' */
.icon-menu:before { content: '\e808'; } /* '' */
.icon-more:before { content: '\e809'; } /* '' */
.icon-loading:before { content: '\e80a'; } /* '' */
.icon-error:before { content: '\e80b'; } /* '' */
.icon-albums:before { content: '\e80c'; } /* '' */
.icon-on:before { content: '\e80d'; } /* '' */
.icon-off:before { content: '\e80e'; } /* '' */
.icon-upload:before { content: '\e80f'; } /* '' */
.icon-download:before { content: '\e810'; } /* '' */
.icon-playlists:before { content: '\e811'; } /* '' */
.icon-artists:before { content: '\e812'; } /* '' */
.icon-play:before { content: '\e813'; } /* '' */
.icon-pause:before { content: '\e814'; } /* '' */
.icon-forward:before { content: '\e815'; } /* '' */
.icon-back:before { content: '\e816'; } /* '' */
.icon-shuffle:before { content: '\e817'; } /* '' */
.icon-list:before { content: '\e818'; } /* '' */
.icon-repeat:before { content: '\e81a'; } /* '' */
